@font-face {
    font-family: 'Somatic Rounded';
    src: url('Somatic-Rounded.woff2') format('woff2'),
        url('Somatic-Rounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

